# Paris's Restuarant name and Rate

### import libraries

In [1]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import time
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

### set start time

In [2]:
start_time = time.time()

### define url

In [3]:
url = 'https://www.yelp.com/'

### get chrome driver Location

In [4]:
s = Service('C:\\Users\\Fateme\\Downloads\\chromedriver_win32\\chromedriver.exe')

### build the driver

In [5]:
driver = webdriver.Chrome(service=s)

### get url by driver

In [6]:
driver.get(url)

### serach a word and click on search button to find the phrase's match

In [7]:
insearch = driver.find_element(By.ID, value='search_description')
insearch.click()
insearch.send_keys('Restaurants')
searchbtn = driver.find_element(By.CLASS_NAME, value='find-near-button__09f24__XS9AP')
searchbtn.click()

# One Page:

### get all items in one page

In [22]:
all_items = driver.find_elements(By.CLASS_NAME, value='hoverable__09f24__wQ_on')

### a loop for get each restaurant name, review counts and star

In [23]:
data = []

In [24]:
for item in all_items:
    try:
        name = item.find_element(By.XPATH, value=".//a[@class='css-1m051bw']").text
    except:
        name = 'NULL'
    try:
        reviewcounts = item.find_element(By.XPATH, value=".//span[@class=' css-chan6m']").text
    except:
        reviewcounts = -1
    try:
        stars = item.find_element(By.XPATH, value = './/div[@class=" five-stars__09f24__mBKym five-stars--regular__09f24__DgBNj display--inline-block__09f24__fEDiJ  border-color--default__09f24__NPAKY"]')
        stars_number = stars.get_attribute('aria-label').split(' ')[0]
    except:
        stars_number = -1
    data.append([name, reviewcounts, float(stars_number)])

In [25]:
data

[['Le Comptoir de la Gastronomie', '1214', 4.5],
 ['Bistro des Augustins', '461', 4.5],
 ['L’Avant Comptoir', '643', 4.5],
 ['La Régalade', '95', 4.5],
 ['La Coïncidence', '507', 4.5],
 ['L’As du Fallafel', '1905', 4.5],
 ['Angelina', '1450', 4.0],
 ['Gambino', '223', 4.5],
 ['Baguett’s Café', '215', 4.5],
 ['Le Bistro du Périgord', '364', 4.5]]

## create a dataframe from what we scrap of first result page

In [26]:
df = pd.DataFrame(data, columns=['name', 'reviewcounts', 'stars_number'])

In [27]:
df

                            name reviewcounts  stars_number
0  Le Comptoir de la Gastronomie         1214           4.5
1           Bistro des Augustins          461           4.5
2               L’Avant Comptoir          643           4.5
3                    La Régalade           95           4.5
4                 La Coïncidence          507           4.5
5               L’As du Fallafel         1905           4.5
6                       Angelina         1450           4.0
7                        Gambino          223           4.5
8                 Baguett’s Café          215           4.5
9          Le Bistro du Périgord          364           4.5

in first page all of restaraunts had starnumber 4.5 and it is not wrong value :)

# all pages:

### a loop for get each restaurant name, review counts and stars and append it to a new dataframe

In [8]:
datahi = []

In [15]:
while True:
    try:
        allitems = driver.find_elements(By.XPATH, value="//div[@class=' container__09f24__mpR8_ hoverable__09f24__wQ_on  border-color--default__09f24__NPAKY']")
        for item in allitems:
            try:
                name_ = item.find_element(By.XPATH, value=".//a[@class='css-1m051bw']").text
            except:
                name_ = 'NULL'
            try:
                review_counts = item.find_element(By.XPATH, value=".//span[@class=' css-chan6m']").text
            except:
                review_counts = -1
            try:
                star = item.find_element(By.XPATH, value = './/div[@class=" five-stars__09f24__mBKym five-stars--regular__09f24__DgBNj display--inline-block__09f24__fEDiJ  border-color--default__09f24__NPAKY"]')
                starsnumber = star.get_attribute('aria-label').split(' ')[0]
            except:
                starsnumber = -1
                
            datahi.append([name_, int(review_counts), float(starsnumber)])
        nextpage = driver.find_element(By.XPATH, value='//a[@class="next-link navigation-button__09f24__m9qRz css-144i0wq"]')
        driver.execute_script("arguments[0].click();", nextpage)
        time.sleep(3)
    except:
        break
print('How long does it take to scrape the whole webpage? {} seconds'.format(time.time() - start_time))

How long does it take to scrape the whole webpage? 730.899831533432 seconds

In [18]:
len(datahi)

239

## crate a dataframe from what we find in 24 pages

In [20]:
all_df = pd.DataFrame(datahi, columns=['Name', 'Review_Counts', 'Stars_Number'])

In [21]:
all_df

                              Name  Review_Counts  Stars_Number
0    Le Comptoir de la Gastronomie           1214           4.5
1             Bistro des Augustins            461           4.5
2                 L’Avant Comptoir            643           4.5
3                      La Régalade             95           4.5
4                   La Coïncidence            507           4.5
..                             ...            ...           ...
234                Café de l’Homme            101           3.5
235           Le Comptoir Colonial              2           5.0
236                      L’Entente             16           4.0
237                Fermier Gourmet             32           4.5
238                       Cocorico             43           4.5

[239 rows x 3 columns]